div#Ajuda{
    display: flex;
    flex: 1;
}

div#Ajuda section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 2px solid #FF4628;
    border-top: 0px;
    margin: 0px;
}

section#Button {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    max-height: 70vh;
    max-width: 50%;
}
section#Button div#card{
    display: flex;
    width: 50%;
    height: 30vh;
    padding: 4vh;
    align-items: center;
    background-color: #8DDE96;
    border-radius: 50px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

section#Button div#plus{
    width: 50%;
    height: 30vh;
    padding: 4vh;
    align-items: center;
    background-color: #F8644C;
    border-radius: 50px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

section#img img{
    display: flex;
    flex: 1;
    min-height: 30vh;
    max-height: 70vh;
    max-width: 50%;
}

div#PageHome section#text p{
    text-align: justify;
    font-size: 3vw;
}